/* CSS declarations go here */

.board
	padding: 10px

.person
	float: left
	margin: 0 10px 10px 0
	width: 190px
	padding: 5px

	.avatar
		width: 90%
		img
			width: 100%
			max-width: 170px;
			max-height: 170px;
	
	.name
		text-align: center
		font-size: 1.2em
		vertical-align: center

	.status
		text-align: center
		vertical-align: center
		padding: 0
		margin: 0

		p
			vertical-align: center

		select
			width: 100px
			display: inline-block




